.exercise-container {
	padding-top: 5%;
}

.timer-container {
	padding-top: 5%;
	padding-bottom: 5%;
}

#complete-set-btn {
	margin-top: 5%;
}

#workout-picker-view-mount {
	max-height: 34%;
	height: 34%;
	overflow: auto;
}
